[submodule "content/pixi-vn"]
	path = content/pixi-vn
	url = https://github.com/DRincs-Productions/pixi-vn.wiki.git
	branch = master
[submodule "content/pixi-vn-json"]
	path = content/pixi-vn-json
	url = https://github.com/DRincs-Productions/pixi-vn-json.wiki.git
	branch = master
[submodule "content/pixi-vn-ink"]
	path = content/pixi-vn-ink
	url = https://github.com/DRincs-Productions/pixi-vn-ink.wiki.git
	branch = master
[submodule "content/nqtr"]
	path = content/nqtr
	url = https://github.com/DRincs-Productions/nqtr.wiki.git
	branch = master
[submodule "content/pixi-vn-spine"]
	path = content/pixi-vn-spine
	url = https://github.com/DRincs-Productions/pixi-vn-spine.wiki.git
	branch = master
[submodule "content/pixi-vn-live2d"]
	path = content/pixi-vn-live2d
	url = https://github.com/DRincs-Productions/pixi-vn-live2d.wiki.git
	branch = master
[submodule "content/pixi-vn-ai"]
	path = content/pixi-vn-ai
	url = https://github.com/DRincs-Productions/pixi-vn-ai.wiki.git
	branch = master
